* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: clip;
  clip-path: inset(0 0 0 0);
  margin: 10px;
  background: rgb(228, 161, 217);
  color: rgb(1, 29, 53);
  letter-spacing: 4px;
  line-height: 30px;
}
h1 {
  font-size: 30px;
}
h2,
h3 {
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 22px;
  text-decoration: none;
}
p,
li {
  font-size: 22px;
}

section {
  height: 100vh;
  width: auto;
}
.header {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-right: 15px;
}
.intro {
  align-items: center;
}
.aboutme {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-set {
  margin-top: 15%;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  text-align: center;
}
.skill {
  height: 350px;
  width: 350px;
  background: rgb(189, 115, 204);
  border-radius: 30px;
  align-items: center;
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 50%;
}
.skill h2 {
  margin-top: 20px;
}

.skill ul {
  margin-top: 70px;
}

.work li,
.skill li {
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 40%;
}
.work-set {
  display: flex;
  justify-content: space-around;
}
.work {
  margin-top: 10%;
  width: 400px;
  background: rgb(189, 115, 204);
  border-radius: 30px;
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 50%;
  text-align: justify;
}
.work h3 {
  margin-top: 30px;
}
.work ul {
  margin: 40px;
}

.footer {
  text-align: left;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
