:root {
  --background: radial-gradient(
    circle,
    rgba(255, 206, 217, 1) 0%,
    rgba(255, 185, 196, 1) 100%
  );
  --tile-background: #ffb7c5;
  --tile-shadow: #ff7ce3;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: clip;
  clip-path: inset(0 0 0 0);
  color: rgb(1, 29, 53);
  letter-spacing: 4px;
  line-height: 30px;
}
h1 {
  font-size: 30px;
}
h2,
h3 {
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 22px;
  text-decoration: none;
}
p,
li {
  font-size: 22px;
}

section {
  height: 100vh;
  width: auto;
  background: var(--background);
}
.header {
  width: 100%;
}
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-right: 15px;
}
.intro {
  height: 110vh;
  align-items: center;
}
.aboutme {
  margin-top: -100px;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.graphic img {
  height: 200px;
  width: auto;
  border-radius: 50%;
}
.skill-set {
  margin-top: 15%;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  text-align: center;
}
.skill {
  height: 350px;
  width: 350px;
  background: var(--tile-background);
  border-radius: 30px;
  align-items: center;
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 50%;
  box-shadow: 6px 6px 8px var(--tile-shadow);
}
.skill h2 {
  margin-top: 20px;
}

.skill ul {
  margin-top: 70px;
}

.work li,
.skill li,
.project p {
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 40%;
}
.work-set,
.project-set {
  display: flex;
  justify-content: space-around;
}
.work,
.project {
  margin-top: 10%;
  width: 400px;
  background: var(--tile-background);
  border-radius: 30px;
  animation: slideLeft 1s ease 0s normal;
  animation-timeline: view();
  animation-range: 0% cover 50%;
  text-align: justify;
  box-shadow: 6px 6px 8px var(--tile-shadow);
}
.work h3,
.project h3 {
  margin: 30px;
}
.work ul,
.project p {
  margin: 40px;
}

.footer {
  padding: 40px;
  height: 50vh;
  background: var(--background);
  text-align: left;
}
.icons {
  height: 60%;
  text-align: center;
  margin-top: 100px;
}
i {
  font-size: 42px;
  margin: 40px;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 560px) {
  body {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .intro {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}