*{
    margin: 0;
    padding:0;
}
body{
    margin: 10px;
}

section{
    height: 100vh;
    width: auto;
}
.header {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li {
    margin-right: 15px;
}
.intro{
    align-items: center;
}
.aboutme{
    height: 100%;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
h2,h3{
    transform: translateX(100vh);
    animation: slide .5s ease-out  forwards;
    animation-timeline: view();
}

@keyframes slide {
    
    0%{
        transform: translateX(100vh);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translate(0);
    }
    
}